[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/roshangit
[access "refs/for/refs/*"]
	read = group user/roshangit
	push = group user/roshangit
	label-Code-Review = -2..+2 group user/roshangit
	label-Verified = -1..+1 group user/roshangit
	rebase = group user/roshangit
	removeReviewer = group user/roshangit
	submit = group user/roshangit
[access "refs/heads/*"]
	read = group user/roshangit
	create = group user/roshangit
	push = +force group user/roshangit
	pushMerge = group user/roshangit
[access "refs/tags/*"]
	push = +force group user/roshangit
	pushTag = group user/roshangit
	pushSignedTag = group user/roshangit
